@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Hide native search cancel button on inputs with custom icons */
input[type="search"].search-icon-custom::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
